
nav ul
{
    list-style:none;
    margin:left;
    padding:left;
    color:rgba(236, 203, 11, 0.788);

}
nav > ul > li{
    float: left;padding-top: 5px;
}
nav ul li a{
    display: inline-block; color:black; padding: 10px 20px; width: 140px; text-decoration: none;
}
nav ul li a:hover{
    background-color: burlywood;
}
nav ul ul{
    display: none;
}
nav ul li:hover > ul {
    display: block;
}
nav ul ul li{position: relative;
}
nav ul ul li{
    left: 30%; top: 0;
}
